name: Lint Cargo.toml Files

on:
  workflow_call:
    secrets:
      GH_TOKEN:
        description: "GitHub Token"
        required: true
      SLACK_WEBHOOK_URL:
        description: "Slack Webhook URL"
        required: true

jobs:
  cargo-toml-lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable

      - name: Install Cargo.toml Linter
        uses: baptiste0928/cargo-install@v1
        with:
          crate: cargo-toml-lint
          version: 0.1

      - name: Run Cargo.toml Linter
        run: git ls-files | grep Cargo.toml$ | xargs --verbose -n 1 cargo-toml-lint

  notify-slack-action:
    needs: cargo-toml-lint
    if: ${{failure()}}
    uses: FuelLabs/github-actions/.github/workflows/notify-slack-action.yml@master
    secrets:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
