name: "Docs Hub Check"

on:
  workflow_call:
    inputs:
      doc-folder-path:
        description: "the folder path where the mdx files live"
        required: true
        type: string
      src-folder-path:
        description: "the src folder where the nav.json and components.json files live"
        required: true
        type: string
      spellcheck-config-path:
        description: "the path where the .spellcheck.yml file lives"
        required: true
        type: string

jobs: 
  spell-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - uses: rojopolis/spellcheck-github-actions@0.34.0
        name: Spellcheck
        with:
          config_path: ${{ inputs.spellcheck-config-path }}
          task_name: SPCheck

  check-doc-folders:
    name: Check Configs, Components & Folders
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Checkout repo2
        uses: actions/checkout@v4
        with: 
          repository: 'FuelLabs/github-actions'
          path: 'workflow'
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Run script
        run: |
            cd workflow/docs-hub
            npm install
            node next-docs.mjs ${{ inputs.doc-folder-path }} ${{ inputs.src-folder-path }}
