name: Build and Publish Docker Image

on:
  workflow_call:
    inputs:
      flavor:
        description: "Defines global behaviors for tags (e.g. 'latest=auto')"
        required: false
        type: string

      docker_file:
        description: "Path to the deployment file"
        required: false
        type: string
        default: "deployment/Dockerfile"

      images:
        description: "Docker image names (e.g. 'ghcr.io/FuelLabs/repository-name')"
        required: true
        type: string

      labels:
        description: "Docker image labels (e.g. 'com.example.label=value')"
        required: false
        type: string

      tags:
        description: "Docker image tags (e.g. 'latest,1.0.0')"
        required: true
        type: string

    secrets:
      GH_TOKEN:
        description: "GitHub Token"
        required: true

      GITHUB_CONTAINER_USERNAME:
        description: "Username for GitHub Container Registry"
        required: true

      GITHUB_CONTAINER_PASSWORD:
        description: "Password for GitHub Container Registry"
        required: true

      SLACK_WEBHOOK_URL:
        description: "Slack Webhook URL"
        required: true

env:
  GITHUB_CONTAINNER_REGISTRY_URL: ghcr.io

jobs:
  build-and-publish-docker-image:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Docker Meta
        id: meta
        uses: docker/metadata-action@v3
        with:
          flavor: ${{ inputs.flavor }}
          images: ${{ inputs.images }}
          labels: ${{ inputs.labels }}
          tags: ${{ inputs.tags }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ${{ env.GITHUB_CONTAINNER_REGISTRY_URL }}
          username: ${{ secrets.GITHUB_CONTAINER_USERNAME }}
          password: ${{ secrets.GITHUB_CONTAINER_PASSWORD }}

      - name: Build and publish image to Github Container Registry
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ${{ inputs.docker_file }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

  notify-slack-action:
    needs: cargo-toml-lint
    if: ${{failure()}}
    uses: FuelLabs/github-actions/.github/workflows/notify-slack-action.yml@master
    secrets:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
